{% extends "pages/_templates/base.j2" %}


{% block content %}


<div class="min-h-screen flex items-center justify-center flex-col">

    <img class="mx-auto h-40 w-auto" src="assets/logo.png" alt="Yaroo">


    <div class="bg-white p-8 rounded shadow-sm w-96 text-center mt-8">
        <h1 class="font-light">Oops! 😟</h1>

        <p class="mt-4 text-sm font-light">looks like you're lost</p>
    </div>
</div>




{% endblock content %}