{% extends "pages/_templates/base.j2" %}


{% block content %}


<div class="bg-white p-8 rounded shadow-sm w-96 text-center">
    <h1 class="font-light">Oops! 😟</h1>

    <p class="mt-4 text-sm font-light">looks like you're lost</p>
</div>


{% endblock content %}